src/components/upgrade/upgrade.html

<div class="upgrade">
  <div class="container">
    <div class="upgrade__title">
      <h2 class="h2 h2--sec">Upgrade Your Vault</h2>
      <p>The most legendary loot is yours to find. Collect and redeem can codes to unlock engrams and upgrade your gear.</p>
    </div>
    <div class="upgrade__blocks">
      <div class="upgrade__block">
        <div class="upgrade__img"><img src="./assets/images/vault_01.svg" alt=""/></div>
        <div class="upgrade__desc">Every Titan and Warlock can code unlocks one engram reward. Zero Carb Hunter cans have two codes to unlock.</div>
      </div>
      <div class="upgrade__block">
        <div class="upgrade__img"><img src="./assets/images/vault_02.svg" alt=""/></div>
        <div class="upgrade__desc">Redeem up to three codes per week. Unlock an extra engram by redeeming a Zero Carb can code.</div>
      </div>
      <div class="upgrade__block">
        <div class="upgrade__img"><img src="./assets/images/vault_03.svg" alt=""/></div>
        <div class="upgrade__desc">Redeem a maximum of 32 codes. Any codes redeemed afterwards will still count as a sweepstakes entry.</div>
      </div>
    </div>
  </div>
</div>

src/components/upgrade/upgrade.pug
.upgrade
  .container
    .upgrade__title
      h2.h2.h2--sec Upgrade Your Vault
      p The most legendary loot is yours to find. Collect and redeem can codes to unlock engrams and upgrade your gear.

    .upgrade__blocks
      .upgrade__block
        .upgrade__img
          img(src="./assets/images/vault_01.svg", alt="")
        .upgrade__desc Every Titan and Warlock can code unlocks one engram reward. Zero Carb Hunter cans have two codes to unlock.

      .upgrade__block
        .upgrade__img
          img(src="./assets/images/vault_02.svg", alt="")
        .upgrade__desc Redeem up to three codes per week. Unlock an extra engram by redeeming a Zero Carb can code.

      .upgrade__block
        .upgrade__img
          img(src="./assets/images/vault_03.svg", alt="")
        .upgrade__desc Redeem a maximum of 32 codes. Any codes redeemed afterwards will still count as a sweepstakes entry.
