src/components/ended/ended.html

<div class="overlay"></div>
<div class="ended">
  <div class="ended__close">
    <button class="btn"><i class="icon icon--close"></i></button>
  </div>
  <div class="ended__bg"></div>
  <div class="ended__inner">
    <div class="ended__title">Contest has ended</div>
    <p>Thanks to all the players and fans who entered, and congrats to all the winners!</p>
    <p>Stay tuned for the next gaming experience from Rockstar Energy Drink.</p>
  </div>
</div>

src/components/ended/ended.pug
.overlay
.ended
  .ended__close
    button.btn
      i.icon.icon--close
  .ended__bg
  .ended__inner
    .ended__title Contest has ended
    p Thanks to all the players and fans who entered, and congrats to all the winners!
    p Stay tuned for the next gaming experience from Rockstar Energy Drink.
