src/components/permission/permission.html

<div class="overlay"></div>
<div class="permission">
  <div class="permission__close">
    <button class="btn"><i class="icon icon--close"></i></button>
  </div>
  <div class="permission__inner">
    <div class="permission__header">we need your permission</div>
    <div class="permission__desc">Allow Rockstar to view and modify your Destiny characters, vault, and progression.</div><a class="btn btn--login btn--white" href="#">Authorize with Bungie.net</a><a class="permission__link" href="#">Do you want to know more?</a>
  </div>
</div>

src/components/permission/permission.pug
.overlay
.permission
  .permission__close
    button.btn
      i.icon.icon--close
  .permission__inner
    .permission__header we need your permission
    .permission__desc Allow Rockstar to view and modify your Destiny characters, vault, and progression.
    a.btn.btn--login.btn--white(href="#") Authorize with Bungie.net
    a.permission__link(href="#") Do you want to know more?
