src/components/hero/hero-cs.pug
.hero.hero--cs
  .hero__bg
  .container
    .hero__body
      .hero__title
        h2.h2 contest begins<br />september 1st
      .hero__desc Check back on September 1st, or see in-store for more details. Follow Destiny 2 and Rockstar’s channels below to get the latest contest updates.
      .hero__cans
        img(src="./assets/images/cans.png", alt="")

src/components/hero/hero-cs.html

<div class="hero hero--cs">
  <div class="hero__bg"></div>
  <div class="container">
    <div class="hero__body">
      <div class="hero__title">
        <h2 class="h2">contest begins<br />september 1st</h2>
      </div>
      <div class="hero__desc">Check back on September 1st, or see in-store for more details. Follow Destiny 2 and Rockstar’s channels below to get the latest contest updates.</div>
      <div class="hero__cans"><img src="./assets/images/cans.png" alt=""/></div>
    </div>
  </div>
</div>
