src/components/hero/hero-lp.html

<div class="hero hero--lp">
  <div class="hero__body">
    <div class="hero__top">
      <h2 class="h2 h2--big">Power Up With<br />Every Can</h2>
      <p>Collect can codes to unlock in-game weapons and armor every week. Each can also gives you a chance to win one of four Destiny-themed&nbsp;motorcycles (sweepstakes valid until 10/27/17).</p>
    </div>
    <div class="hero__form">
      <form action="#">
        <label class="hero__label" for="code">enter code from tab</label>
        <input class="input hero__input" id="code" type="text" placeholder="XXXX-XXXX-XXXX"/>
      </form>
      <div class="hero__tab"><img src="./assets/images/can_tab.svg" alt=""/></div>
    </div>
    <div class="hero__validate">
      <div class="hero__accepted"><b>Congrats!</b> You’ve unlocked another engram and sweepstakes entry. Current engram limit reached - additional codes redeemed this week are only valid for sweeps.</div>
    </div>
    <div class="hero__cans"><img src="./assets/images/cans.png" alt=""/></div>
  </div>
</div>

src/components/hero/hero-lp.pug
.hero.hero--lp
  .hero__body
    .hero__top
      h2.h2.h2--big Power Up With<br />Every Can
      p Collect can codes to unlock in-game weapons and armor every week. Each can also gives you a chance to win one of four Destiny-themed&nbsp;motorcycles (sweepstakes valid until 10/27/17).

    .hero__form
      form(action="#")
        label.hero__label(for="code") enter code from tab
        //- error highlite - add class .input--error
        input.input.hero__input(id="code", type="text", placeholder="XXXX-XXXX-XXXX")
      .hero__tab
        img(src="./assets/images/can_tab.svg", alt="")

    .hero__validate
      .hero__accepted <b>Congrats!</b> You’ve unlocked another engram and sweepstakes entry. Current engram limit reached - additional codes redeemed this week are only valid for sweeps.
      //- .hero__error Error: Invalid code. Try entering it again.

    .hero__cans
      img(src="./assets/images/cans.png", alt="")
