src/components/hero/hero-404.pug
.hero.hero--404
  .hero__bg
  .container
    .hero__body
      .hero__title
        h2.h2 404 - Page Not Found
      .hero__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis, tempore, officiis labore suscipit, quasi voluptas quaerat sequi iusto at laudantium laborum cupiditate velit reprehenderit. Provident eum debitis, atque eaque!
      .hero__cans
        img(src="./assets/images/cans.png", alt="")

src/components/hero/hero-404.html

<div class="hero hero--404">
  <div class="hero__bg"></div>
  <div class="container">
    <div class="hero__body">
      <div class="hero__title">
        <h2 class="h2">404 - Page Not Found</h2>
      </div>
      <div class="hero__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis, tempore, officiis labore suscipit, quasi voluptas quaerat sequi iusto at laudantium laborum cupiditate velit reprehenderit. Provident eum debitis, atque eaque!</div>
      <div class="hero__cans"><img src="./assets/images/cans.png" alt=""/></div>
    </div>
  </div>
</div>
