src/components/hero/hero-acc.html

<div class="hero hero--acc">
  <div class="container">
    <div class="hero__name">
      <div>[Your game name]’s</div>
      <div>LOOT HAUL</div>
    </div>
    <div class="hero__form">
      <form action="#">
        <label class="hero__label" for="code">enter code from tab</label>
        <input class="input hero__input" id="code" type="text" placeholder="XXXX-XXXX-XXXX"/>
      </form>
      <div class="hero__tab"><img src="./assets/images/can_tab.svg" alt=""/></div>
    </div>
    <div class="hero__validate">
      <div class="hero__accepted"><b>Congrats!</b> You’ve unlocked another engram and sweepstakes entry. Current engram limit reached - additional codes redeemed this week are only valid for sweeps.</div>
    </div>
  </div>
</div>

src/components/hero/hero-acc.pug
.hero.hero--acc
  .container
    .hero__name
      div [Your game name]’s
      div LOOT HAUL

    .hero__form
      form(action="#")
        label.hero__label(for="code") enter code from tab
        //- error highlite - add class .input--error
        input.input.hero__input(id="code", type="text", placeholder="XXXX-XXXX-XXXX")
      .hero__tab
        img(src="./assets/images/can_tab.svg", alt="")

    .hero__validate
      .hero__accepted <b>Congrats!</b> You’ve unlocked another engram and sweepstakes entry. Current engram limit reached - additional codes redeemed this week are only valid for sweeps.
      //- .hero__error Error: Invalid code. Try entering it again.
