src/components/win/win.pug
.win
  .container
    .win__inner
      .win__title
        h3.h3.h3--sec Win at Wal-Mart
        p Get another chance to win big when you buy any Hunter, Titan, or Warlock can at Wal-Mart. Every can will automatically enter you to win a Destiny motorcycle.
      .win__img
        img(src="./assets/images/motorcycle_01.jpg", alt="")

src/components/win/win.html

<div class="win">
  <div class="container">
    <div class="win__inner">
      <div class="win__title">
        <h3 class="h3 h3--sec">Win at Wal-Mart</h3>
        <p>Get another chance to win big when you buy any Hunter, Titan, or Warlock can at Wal-Mart. Every can will automatically enter you to win a Destiny motorcycle.</p>
      </div>
      <div class="win__img"><img src="./assets/images/motorcycle_01.jpg" alt=""/></div>
    </div>
  </div>
</div>
