src/components/prizes/prizes.html

<div class="prizes">
  <div class="prizes__bg"></div>
  <div class="container">
    <div class="prizes__inner">
      <h2 class="h2 h2--sec">sweepstakes prizes</h2>
      <p>Every can is a chance to win copies of Destiny 2 Limited Edition, PS4 Pro consoles, or even a Destiny-themed motorcycle. Start collecting—the more cans you get, the more chances to win.</p>
      <div class="prizes__items">
        <div class="prizes__item">
          <h3 class="h3">daily prizes</h3>
          <p>Another day, another prize. Redeem codes for a chance to win copies of Destiny 2 Limited Edition—every day.</p>
          <div class="prizes__img"><img src="./assets/images/pack_destiny2_ps4.png" alt=""/></div>
        </div>
        <div class="prizes__item">
          <h3 class="h3">weekly prizes</h3>
          <p>Every week, one lucky winner will get a PS4 Pro Console and a Destiny 2 Limited Edition bundle.</p>
          <div class="prizes__img"><img src="./assets/images/ps4.png" alt=""/></div>
          <div class="prizes__img"><img src="./assets/images/set_desteny2.png" alt=""/></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="prizes-grand">
  <div class="container">
    <div class="prizes__inner">
      <div class="prizes__items">
        <div class="prizes__item">
          <h3 class="h3 h3--sec">grand prizes</h3>
        </div>
        <div class="prizes__item">
          <p>Three grand prize winners will get a Destiny-themed motorcycle, based on the Husqvarna 701 Supermoto. Each can counts for a different bike—collect them all for more chances to win.</p>
        </div>
      </div>
    </div>
  </div>
</div>

src/components/prizes/prizes.pug
.prizes
  .prizes__bg
  .container
    .prizes__inner
      h2.h2.h2--sec sweepstakes prizes
      p Every can is a chance to win copies of Destiny 2 Limited Edition, PS4 Pro consoles, or even a Destiny-themed motorcycle. Start collecting—the more cans you get, the more chances to win.

      .prizes__items
        .prizes__item
          h3.h3 daily prizes
          p Another day, another prize. Redeem codes for a chance to win copies of Destiny 2 Limited Edition—every day.
          .prizes__img
            img(src="./assets/images/pack_destiny2_ps4.png", alt="")
        .prizes__item
          h3.h3 weekly prizes
          p Every week, one lucky winner will get a PS4 Pro Console and a Destiny 2 Limited Edition bundle.
          .prizes__img
            img(src="./assets/images/ps4.png", alt="")
          .prizes__img
            img(src="./assets/images/set_desteny2.png", alt="")


.prizes-grand
  .container
    .prizes__inner
      .prizes__items
        .prizes__item
          h3.h3.h3--sec grand prizes
        .prizes__item
          p Three grand prize winners will get a Destiny-themed motorcycle, based on the Husqvarna 701 Supermoto. Each can counts for a different bike—collect them all for more chances to win.
