src/components/footer/footer.html

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__nav"><a class="footer__nav-link" href="#">SUPPORT</a><span></span><a class="footer__nav-link" href="#">OFFICIAL RULES</a><span></span><a class="footer__nav-link" href="#">PRIVACY POLICY</a></div>
    <div class="footer__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <ul class="footer__logos">
      <li class="footer__logo"><a class="footer__logo-link" href="http://www.esrb.org/ratings/ratings_guide.aspx" target="_blank"><img src="./assets/images/logo_esrb_rating.png" alt=""/></a></li>
      <li class="footer__logo"><a class="footer__logo-link" href="https://www.destinythegame.com" target="_blank"><img src="./assets/images/logo-destiny2.svg" alt=""/></a></li>
      <li class="footer__logo"><a class="footer__logo-link" href="https://www.activision.com" target="_blank"><img src="./assets/images/logo_activision.svg" alt=""/></a></li>
      <li class="footer__logo"><a class="footer__logo-link" href="https://www.bungie.net" target="_blank"><img src="./assets/images/logo_bungie.png" alt=""/></a></li>
      <li class="footer__logo"><a class="footer__logo-link" href="http://rockstarenergy.com" target="_blank"><img src="./assets/images/logo_rs.svg" alt=""/></a></li>
      <li class="footer__logo"><a class="footer__logo-link" href="http://www.husqvarna.com" target="_blank"><img src="./assets/images/logo_huskqvarna.svg" alt=""/></a></li>
      <li class="footer__logo"><a class="footer__logo-link" href="https://www.playstation.com" target="_blank"><img src="./assets/images/logo_playstation.png" alt=""/></a></li>
    </ul>
  </div>
</footer>

src/components/footer/footer.pug
footer.footer
  .footer__inner
    .footer__nav
      a.footer__nav-link(href="#") SUPPORT
      span
      a.footer__nav-link(href="#") OFFICIAL RULES
      span
      a.footer__nav-link(href="#") PRIVACY POLICY

    .footer__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    ul.footer__logos
      li.footer__logo
        a.footer__logo-link(href="http://www.esrb.org/ratings/ratings_guide.aspx", target="_blank")
          img(src="./assets/images/logo_esrb_rating.png", alt="")

      li.footer__logo
        a.footer__logo-link(href="https://www.destinythegame.com", target="_blank")
          img(src="./assets/images/logo-destiny2.svg", alt="")

      li.footer__logo
        a.footer__logo-link(href="https://www.activision.com", target="_blank")
          img(src="./assets/images/logo_activision.svg", alt="")

      li.footer__logo
        a.footer__logo-link(href="https://www.bungie.net", target="_blank")
          img(src="./assets/images/logo_bungie.png", alt="")

      li.footer__logo
        a.footer__logo-link(href="http://rockstarenergy.com", target="_blank")
          img(src="./assets/images/logo_rs.svg", alt="")

      li.footer__logo
        a.footer__logo-link(href="http://www.husqvarna.com", target="_blank")
          img(src="./assets/images/logo_huskqvarna.svg", alt="")

      li.footer__logo
        a.footer__logo-link(href="https://www.playstation.com", target="_blank")
          img(src="./assets/images/logo_playstation.png", alt="")
