src/components/login/login.html

<div class="overlay"></div>
<div class="login">
  <div class="login__close">
    <button class="btn"><i class="icon icon--close"></i></button>
  </div>
  <div class="login__inner">
    <div class="login__block">
      <div class="login__header">
        <div class="login__info">SIGN UP</div>
        <div class="login__title">NEW USER</div>
        <div class="login__desc">Create an account to gear up!</div>
      </div><a class="btn btn--login btn--white" href="#">Sign up for an account</a>
    </div>
    <div class="login__block">
      <div class="login__header">
        <div class="login__info">SIGN IN</div>
        <div class="login__title">EXISTING USER</div>
        <div class="login__desc">Log in below to use your Bungie accounts.</div>
      </div><a class="btn btn--login btn--blue" href="#">Log into Playstation Network</a><a class="btn btn--login btn--green" href="#">Log into Xbox Live</a>
    </div>
  </div>
</div>

src/components/login/login.pug
.overlay
.login
  .login__close
    button.btn
      i.icon.icon--close
  .login__inner
    .login__block
      .login__header
        .login__info SIGN UP
        .login__title NEW USER
        .login__desc Create an account to gear up!
      a.btn.btn--login.btn--white(href="#") Sign up for an account

    .login__block
      .login__header
        .login__info SIGN IN
        .login__title EXISTING USER
        .login__desc Log in below to use your Bungie accounts.
      a.btn.btn--login.btn--blue(href="#") Log into Playstation Network
      a.btn.btn--login.btn--green(href="#") Log into Xbox Live
